#### make an empty dictionary named practice_dict

In [4]:
emp_dict = {}

#### add name of student with their marks in above dictionary

In [28]:
emp_dict['nikhil'] = 90
emp_dict['nikl'] = 97
emp_dict['nhil'] = 96
emp_dict['niil'] = 91

In [29]:
emp_dict

{'nikhil': 90, 'nikl': 97, 'nhil': 96, 'niil': 91}

#### change the key name for one key in dictionary [example - {'mayurr' : 55} -----> {'mayur' : 55} ]

In [7]:
emp_dict['nikhil']

90

#### change key as a value and value as key in above dictionary. [example - {'mayur': 55} -----> {55: 'mayur'}

In [36]:
emp_dict = dict(list(zip(emp_dict.values(),emp_dict.keys())))

In [37]:
emp_dict

{90: 'nikhil', 97: 'nikl', 96: 'nhil', 91: 'niil'}

In [32]:
emp_dict.keys()

dict_keys([90, 97, 96, 91])

#### ----------------------------------------------------------------------------------------------------------------------------------------------------------

#### make a dictionary using two lists
city_names = ['pune', 'mumbai', 'nashik', 'ahmednagar']<br>
covid_counts = [12000, 22000, 9000, 3000]

In [38]:
city_names = ['pune', 'mumbai', 'nashik', 'ahmednagar']
covid_counts = [12000, 22000, 9000, 3000]
new_1 = dict(zip(city_names, covid_counts))

In [7]:
new_1

{'pune': 12000, 'mumbai': 22000, 'nashik': 9000, 'ahmednagar': 3000}

#### remove pune from above dictionary

In [8]:
new_1.pop('pune')

12000

In [9]:
new_1

{'mumbai': 22000, 'nashik': 9000, 'ahmednagar': 3000}

#### add delhi = 20000 in dictionary

In [10]:
new_1['delhi'] = 20000

In [11]:
new_1

{'mumbai': 22000, 'nashik': 9000, 'ahmednagar': 3000, 'delhi': 20000}

#### print keys of dictionary

In [17]:
new_1.keys()

dict_keys(['mumbai', 'nashik', 'ahmednagar', 'delhi'])

#### print values of dictionary

In [18]:
new_1.values()

dict_values([22000, 9000, 3000, 20000])

#### print items of dictionary

In [20]:
new_1.items()

dict_items([('mumbai', 22000), ('nashik', 9000), ('ahmednagar', 3000), ('delhi', 20000)])

#### print 3rd item of dictionary

In [39]:
print(list(new_1.items())[3])

('ahmednagar', 3000)

In [72]:
for i_, i in enumerate(new_1):
    if i_ == 3:
        print(list(new_1.items())[i_])

('delhi', 20000)

In [74]:
type(new_1.keys())

dict_keys

#### ----------------------------------------------------------------------------------------------------------------------------------------------

### perform operations on dictionary using all dictionary functions

####  Access the value of key ‘history’

In [53]:
sample_dict = { 
   "class":{ 
      "student":{ 
         "name":"nikita",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

In [56]:
sample_dict['class']['student']['marks']['history']

80

#### Initialize dictionary with default values

In [66]:
employees = ['mayur', 'aniket', 'John']
defaults = {"designation": 'Application Developer', "salary": 80000}

In [76]:
for i in employees:
    emp2[i] = dict(zip(defaults.keys(),defaults.values()))

In [77]:
emp2

{'mayur': {'designation': 'Application Developer', 'salary': 80000},
 'aniket': {'designation': 'Application Developer', 'salary': 80000},
 'John': {'designation': 'Application Developer', 'salary': 80000}}

In [81]:

for i in employees:
    emp[i] = defaults

In [82]:
emp

{'mayur': {'designation': 'Application Developer', 'salary': 80000},
 'aniket': {'designation': 'Application Developer', 'salary': 80000},
 'John': {'designation': 'Application Developer', 'salary': 80000}}

#### Create a new dictionary by extracting the following keys from a given dictionary

In [138]:
# Expected output - {'name': 'akshay', 'salary': 8000}
sampledict = {
  "name": "akshay",
  "age":22,
  "salary": 80000,
  "city": "Ahmednagar"
  
}
#keys = ["name", "salary"]

In [142]:
emp_4 = {}
for i in sampledict.keys():
    if i == 'name' or i == 'salary':
        emp_4[i] = sampledict[i]

In [143]:
emp_4

{'name': 'akshay', 'salary': 80000}

#### Check if a value 200 exists in a dictionary
expected output - True

In [59]:
sampleDict = {'a': 100, 'b': 200, 'c': 300}

In [62]:
for i in sampleDict.values():
    if i == 200:
        print("TRUE")

TRUE

#### Rename key city to location in the following dictionary

In [144]:
sampleDict = {
  "name": "Vishnu",
  "age":22,
  "salary": 80000,
  "city": "Mumbai"
}

In [148]:
sampleDict['newcity'] = sampleDict.pop('city')

In [149]:
sampleDict

{'name': 'Vishnu', 'age': 22, 'salary': 80000, 'newcity': 'Mumbai'}

#### Get the key corresponding to the minimum value from the following dictionary

In [65]:
sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

In [71]:
a = min(sampleDict.values())
a

65

#### Given a Python dictionary, Change Brad’s salary to 8500

In [205]:
sample_dict = {
     'emp1': {'name': 'mayur', 'salary': 75000},
     'emp2': {'name': 'nikhil', 'salary': 80000},
     'emp3': {'name': 'sanket', 'salary': 65000}
}

In [206]:
list(sample_dict.values())[1]

{'name': 'nikhil', 'salary': 80000}

In [217]:
for i in sample_dict.values():
    for j in i.keys():
        if j == 'salary' in j:
            print(j)

salary
salary
salary